<!DOCTYPE html>
<html>
<head>

	<title>Receitas</title>
	
	<link rel="icon" href="img/favicon.ico">
	<meta charset="UTF-8" lang="pt">

	<link rel="stylesheet" type="text/css" href="css/style.css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>

<body>

	<div class="container">
		<div class="row">
			<div id="darkMode" class="col-12">
				<p style="text-align: center; font-size: 22px; font-family: monospace;">Clique no botão para trocar entre o modo claro e o modo noturno <button onclick="myFunction()">Click me!</button></p>
			</div>
		</div>
	</div>

	<header>
		<div class="container">

			<div class="row">
				<div class="col-12">
					<h1 id="titulo"> {{message}} </h1>  
				</div>
			</div>

			<div id="row">
				<div class="col-12">
					<h2 id="sub">{{message}}</h2>      
				</div>  
			</div>

		</div>
	</header>

	<div class="container">
		<div class="row">

			<div id="color" class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
				<a href="index.html">Pagina Inicial</a>      
			</div>

			<div id="color" class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
				<a href="formulario.html">Contato</a>
			</div>

			<div id="color" class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
				<a href="localizacao.html">Localização</a>
			</div>

		</div>
	</div>

	<div class="container">

		<div class="row">

			<div class="col-12">

				<h2 id="TituloReceita">{{message}}</h2>

				<p id="Descricao">{{message}}</p>

			</div>

		</div>

		<div class="row">

			<div class="col-12">

				<center>
					<img id="FotoReceita" src="img/OrelhaGato.jpg" style="width: 100%">
				</center>

			</div>

		</div>

		<div class="row">

			<div id="listaIngredientes" class="col-12">

				<h3 id="Ingredientes">{{message}}</h3>

				<ul>
					<li v-for="todo in todos">
						{{ todo.text }}
					</li>
				</ul>
			</div>

		</div>

		<div class="row">

			<div id="Passos" class="col-12">

				<h3 id="Preparo">{{message}}</h3>

				<ul>
					<li v-for="todo in todos">
						{{ todo.text }}
					</li>
				</ul>

			</div>

		</div>
	</div>				

	<footer id="rodape">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<p id="dev">{{message}}</p>
					<p id="data">{{message}}</p>
				</div>
			</div>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="js\vueJS.js"></script>
	<script src="js\funcoes.js"></script>


</body>
</html>