* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Optima, sans-serif;
}

header {
	/* Configuração de fundo */

	height: 200px;
	width: 100%;
}

body {
	background-color: white;

}

section{
	margin-top: 5%;
	margin-bottom: 5%;
	width: 66%;
	height: auto;
	border: 10px solid #7bdda4;
}

footer{
	width: 100%;
	height: 80px;
  text-align: center;
  background-color: #F5FFFA;
  padding: 15px;

}

#p1{
  text-align: justify;
  padding: 3%;
  font-size: 20px;
}

#p2{
  text-align: center;
}

#Historia{
  height: auto;
  width: 60%;
  position: relative;
}

#TituloReceita{
	color: black;
	text-align: left;
	margin: 3%;
}

#Descricao{
	color: black;
	text-align: left;
	margin: 3%;
}

#Ingredientes{
	color: black;
	text-align: left;
	margin: 3%;
}

#Preparo{
	color: black;
	text-align: left;
	margin: 3%;
}

#listaIngredientes{
	margin-left: 7%;
}

#Passos{
	margin-left: 7%;
	text-align: justify-all;
}

#esquerdo{
  width: 50%;
  height: 55px;
  margin: 0px auto;
}
#direito{
  width: 50%;
  height: 55px;
  margin: 0px;
}

#titulo {
	/*Configuração de fonte */

	position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #ea759e;
  font-size: 60px;
  font-family: Optima, sans-serif;
}

#sub {
 text-align: center;
 color: #ea759e;
 font-size: 40px;
 font-family: Optima, sans-serif;
}

.FotoReceita{
	position: relative;

}

form {
  margin: 0 auto;
  width: 30%;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 100%;
  text-align: left;
}

input, textarea {
  font: 1em sans-serif;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
}

textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}


button {
  width: 100%;
  height: 30px;
}

.container {
  margin: 50px auto;
  width: 600px;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.photo {
  position: absolute;
  animation: round 16s infinite;
  opacity: 0;
}

@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

img:nth-child(1) {
  animation-delay: 12s;
}

img:nth-child(2) {
  animation-delay: 8s;
}

img:nth-child(3) {
  animation-delay: 4s;
}

img:nth-child(4) {
  animation-delay: 0s;
}

#menu-h{
  background-color: #7bdda4;
}

#menu-h ul {
  max-width: 100%;
  list-style: none;
  padding: 0;
}

#menu-h ul li {
  display: inline;
}

#menu-h ul li a {
  color: #FFF;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  transition: background .4s;
  width: 49%;
  text-align: center;
  font-size: 20px;
}

#menu-h ul li a:hover {
  background-color: white;
  color: #ea759e;
  font-size: 20px;
}